.moon {
  @apply bg-slate-200 h-80 w-80 rounded-full shadow-3xl relative;

  &:after {
    content: "";
    position: absolute;
    inset: -0.5rem;
    background: #8a8aff;
    width: 21rem;
    height: 21rem;
    border-radius: 50%;
    opacity: 0.85;
    filter: blur(4rem);
    z-index: -1;
    animation: moonshine 5s infinite alternate ease-in-out;
    /*box-shadow: 0 0 45px 10px rgba(255, 255, 255, 0.54), inset 0 0 10px 0 #d3bfbf, , inset -100px 10px 80px 20px #080707;*/
  }
}

@keyframes moonshine {
  100% {
    scale: 1.1;
    opacity: 0.5;
  }
}
