.moon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  /*box-shadow: 0 0 45px 10px rgba(255, 255, 255, 0.54), inset 0 0 10px 0 #d3bfbf, , inset -100px 10px 80px 20px #080707;*/
}
